/* EmployeeDashboard.css */

.EmployeeDashboard {
  font-family: Arial, sans-serif;
  margin: 20px;
  border-radius: 10px;
  opacity: 0.9;
  height: 100%;
}

.EmployeeDashboard:hover{
  opacity: 1;
}

.EmployeeDashboard h1 {
  font-size: 24px !important;
  margin-bottom: 20px !important;
  color: #196e8a;
}

.EmpHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.EmpHeaderLeft {
  display: flex;
  align-items: center;
}

input[type="EmpSearchtxt"] {
  width: calc(33% - 22px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
  margin-right: 10px;
  margin-top: 0px;
}

.EmpAddBtn, .EmpInactiveBtn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.EmpAddBtn {
  background-color: #007bff;
  color: white;
}

.EmpInactiveBtn {
  background-color: #f79b91;
  color: black;
}

.EmpAddBtn:hover, .EmpInactiveBtn:hover {
  opacity: 0.9;
}

.EmpHeaderRight {
  display: flex;
  align-items: center;
}

.EmpHeaderRight a {
  text-decoration: none !important;
  color: #007bff !important;
  font-weight: bold !important;
}

.EmpHeaderRight a:hover {
  text-decoration: underline !important;
}

.EmpDashboardContainer {
  flex: 1;
  overflow: auto;
}

.EmpDashboardTbl {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}


.EmpDashboardTbl th, .EmpDashboardTbl td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.EmpDashboardTbl th {
  background-color: #007bff;
  cursor: pointer;
  color: white ;
  position: relative;
  padding-right: 20px;
}

.EmpDashboardTbl th.sorted-asc::after {
  content: '▲';
  font-size: 13px;
  color: yellowgreen;
  position: absolute;
  right: 5px; 
  top: 50%;
  transform: translateY(-50%); 
}

.EmpDashboardTbl th.sorted-desc::after {
  content: '▼';
  color: yellowgreen;
  font-size: 13px;
  position: absolute;
  right: 5px; 
  top: 50%;
  transform: translateY(-50%);
}

.EmpDashboardTbl tr:nth-child(even) {
  background-color: #f9f9f9;
}

.EmpDashboardTbl tr:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.EmpDashboardNoEmp {
  text-align: center;
  font-style: italic;
  color: #054d43;
}

.EmpDashPagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EmpPaginationInfo {
  margin: 0 10px;
  font-size: 14px;
}

.EmpPaginationArrow {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.EmpPaginationArrow:hover {
  background-color: #007bff;
  color: white;
}

.EmpPaginationArrow.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


/* Model Styles */
.AddEmpMdlOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.AddEmpMdlContent {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 100vh;
  overflow-y: auto;
  width: 40vw;
  padding: 20px;
  box-sizing: border-box;
}

.AddEmpMdlHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.AddEmpMdlHeaderLeft h2 {
  margin: 0 !important;
  color: #196e8a !important;
}

.AddEmpMdlRightDiv {
  text-align: right;
}

.AddEmpMdlRightCloseBtn {
  background: #f44336;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.AddEmpMdlContent form {
  display: flex;
  flex-direction: column;
}

.AddEmpMdlContent label {
  margin-bottom: 15px;
}

.AddEmpMdlContent label input,
.AddEmpMdlContent label select,
.AddEmpMdlContent label textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #939191;
  box-sizing: border-box;
}

.AddEmpMdlSubmitBtn {
  width: 100%;
  padding: 12px;
  background: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.AddEmpMdlContent .error {
  color: #f44336;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

.AddEmpMdlDoj {
  padding: 10px;
  width: 100%;
} 

/* InactiveEmployeesModal.css */
.IEmpModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.IEmpModelContent{
  background: #fff;
  border-radius: 8px;
  width: 100%;
  max-width: 1400px; 
  max-height: 80vh; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.IEmpModelHeader {
  padding: 16px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.IEmpModelHeader h3 {
  margin: 0 !important;
  color: #196e8a !important;
}

.IEmpModelHeaderClose {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.IEmpModelHeaderClose:hover {
  background: #c0392b;
}

.IEmpTblContainer {
  flex: 1;
  overflow: auto;
  padding: 0px 16px;
}

.IEmpTbl {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.IEmpTbl th,
.IEmpTbl td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.IEmpTbl th {
  z-index: 1;
  color: white ;
  position: relative;
  padding-right: 20px;
  background-color: #007bff;  
}

.IEmpActiveBtn,
.IEmpDeleteBtn {
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
}

.IEmpActiveBtn {
background-color: #3498db;
}
.IEmpActiveBtn:hover {
  background-color: #2980b9;
}

.IEmpDeleteBtn {
  background-color: #e74c3c;
}

.IEmpDeleteBtn:hover {
  background-color: #c0392b;
}

.IEmpNoEmployees {
  text-align: center;
  font-style: italic;
  color: #054d43;
}

