.EmployeeDetails {
  padding: 20px;
}

.EmpHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #196e8a;
}

.EmpDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.EmpDetailsRow {
  display: flex;
  justify-content: space-between;
}

.EmpDetailsLabel {
  font-weight: bold;
  width: 20%; 
}

.EmpDetailsValue {
  flex: 1;
}

.EmpBackBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #2196F3;
  color: white;
  cursor: pointer;
}

.EmpActions {
  margin-top: 20px;
  display: flex;
  gap: 10%;
  
}

.EmpEditBtn,
.EmpDeactivateBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.EmpEditBtn {
  background-color: #4CAF50;
  color: white;
}

.EmpDeactivateBtn {
  background-color: #f44336;
  color: white;
}
