.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-AddEmp {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.MainDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LeftDiv {
  flex: 1;
}

.RightDivClose {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="date"] {
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.save-btn {
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #218838;
}

.close-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}
