.employees-container {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.employees-table {
    width: 100%;
    border-collapse: collapse;
}
.EmployeesHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.employees-table th,
.employees-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.employees-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.employees-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.employees-table tr:hover {
    background-color: #ddd;
}

.employees-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.contentallEmployee {
    font-size: 1.25rem;
    color: #196e8a;
    font-family: "Public Sans", sans-serif;
    font-family: sans-serif;  
    font-weight: 700;
  }