.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-Inactive {
  background: white;
  border-radius: 8px;
  width: 90%;
  max-width: 1350px; /* Adjust as needed */
  max-height: 80vh;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.Inactiveheader {
  display: flex;
  justify-content: space-between; /* Space out header text and close button */
  align-items: center;
  margin-bottom: 20px;
}

.Inactiveheader h2 {
  margin: 0;
}

.close-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.table-container {
  width: 100%;
  height: 60vh; /* Adjust this value as needed */
  overflow-y: auto; /* Enable vertical scrolling for the table container */
  overflow-x: hidden; /* Remove horizontal scrolling */
}

.inactive-employees-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px; /* Ensure the table is wide enough */
}

.inactive-employees-table th,
.inactive-employees-table td {
  border: 1px solid #ddd;
  padding: 8px;
  white-space: nowrap; /* Prevents text from wrapping */
}

.inactive-employees-table th {
  background-color: #007bff;
  text-align: left;
}

.inactive-employees-table td {
  vertical-align: top;
}

.inactive-employees-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.activate-btn,
.delete-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.delete-btn {
  background-color: #dc3545;
}

.activate-btn:hover,
.delete-btn:hover {
  opacity: 0.9;
}
