.addemployeecontent {
  text-align: left;
  font-family: "Segoe UI";
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}
.employeeformdiv {
  padding-top: 20px;
  width: 100% !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 16px #e5e5e5;
  border-radius: 5px;
  opacity: 1;
  margin-top: 12px;
  padding-bottom: 20px;
}

.custom-label {
  text-align: left;
  font-family: "Segoe UI";
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.custom-placeholder::placeholder {
  color: gray; /* Custom placeholder color */
  font-size: 35px !important; /* Custom font size */
  opacity: 1; /* Make sure opacity is applied */
}
.MuiFormControl-root {
  width: 100%;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0 !important;
  height: 30px !important;
}

.MuiOutlinedInput-root {
  height: 35px !important;
}
.addEmployeeSubmitbutton {
  width: 105px;
  height: 36px;
  /* UI Properties */
  background: #139bff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}
.addemployeespan {
  width: 46px;
  height: 14px;
  text-align: center;
  font: normal normal bold 12px/30px Raleway;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.addemployeeResetbutton {
  width: 100px;
  height: 36px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.resetspan {
  width: 37px;
  height: 14px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 12px/30px Raleway;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
}

.buttonrows {
  margin-top: 23px !important;
}
.css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input {
  height: 3px !important;
}
/* .MuiInputLabel-sizeMedium {
  transform: translate(10px, 7px) !important;
} */
textarea .rows .css-w4nesw-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: red;
}
.skillsetbox {
  width: auto;
  height: 36px;
  /* UI Properties */
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border-radius: 5px;
}
.skillsetitem {
  text-align: left;
  font: normal normal normal 13px/19px Segoe UI;
  letter-spacing: 0px;
  color: #606060;
  opacity: 1;

  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  align-items: center;
  text-align: center !important;
  justify-content: space-between;
}
