.modal-overlay {
    display: block; /* Display the modal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    /* background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    top: 75px;
    left: 160px;
    width: 925px;
    height: 445px;
    /* UI Properties */
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #cecece;
    border-radius: 3px;
    opacity: 1;
  }
  
  /* File Upload Section */
  .file-upload-container {
    margin: 20px 0;
  }
  
  .file-input-wrapper label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .file-input-wrapper img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .file-input-wrapper p {
    margin: 0;
  }
  
  .file-input-wrapper span {
    margin-left: 10px;
    font-size: 14px;
    color: #888;
  }
  
  /* Action Buttons */
  .modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  .skillsetbox {
    height: 28px !important;
    margin: 0px 5px;
  }
  /* .skillsetdiv {
    overflow-y: "scroll";
    height: "70px";
    resize: "none";
    width: "100%";
    border: "1px solid #ccc";
    padding: "5px";
    background-color: white;
    border-radius: "4px";
    display: "flex";
  } */
  .btn-submit {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #218838;
  }
  
  .btn-cancel {
    background-color: #dc3545;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-cancel:hover {
    background-color: #c82333;
  }
  .modalheader {
    width: 925px;
    height: 39px;
    background: #139bff 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .employeeDetailsContent {
    height: 17px;
    font-family: "Segoe UI", sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #ffffff;
    opacity: 1;
    margin-left: 10px;
  }
  .modalheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .update-employee-form-rows {
    margin-top: 20px;
  }
  .employeeUpdateSkills {
    margin-top: 40px !important;
  }
  .css-yjsfm1 {
    font-size: 10px;
  }
  .custom-label {
    font-size: 0.75rem; /* Adjust font size */
    color: #757575; /* Label color */
    transform: translate(0, -5px) scale(1); /* Adjust label positioning */
    font-weight: 500; /* Adjust font weight if needed */
  }
  .css-1yj38qv-MuiFormControl-root-MuiTextField-root {
    background: #ffffff 0% 0% no-repeat padding-box !important;
    border: 1px solid #dcdcdc !important;
    border-radius: 5px !important;
  }
  .EditformSubmit {
    width: 85px;
    height: 36px;
    /* UI Properties */
    background: #139bff 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
  }
  .editformspan {
    width: 30px;
    height: 14px;
    /* UI Properties */
    text-align: center;
    font-family: Raleway; /* Specifies the font family */
    font-weight: bold; /* Specifies the font weight */
    font-size: 12px; /* Specifies the font size */
    line-height: 30px; /* Specifies the line height */
    font-style: normal; /* Specifies the font style */
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
  }
  .EditformCancel {
    width: 85px;
    height: 36px;
    /* UI Properties */
    background: #e5e5e5 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
  }
  .editformcacelspan {
    width: 48px;
    height: 14px;
  
    text-align: center;
    font-family: Raleway; /* Specifies the font family */
    font-weight: 500; /* Specifies the font weight (medium) */
    font-size: 12px; /* Specifies the font size */
    line-height: 29px; /* Specifies the line height */
    font-style: normal;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
  }
  