.Employeelist {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 16px #e5e5e5;
  border-radius: 5px;
  opacity: 1;
  margin-top: 10px;
}
.employeeheader {
  text-align: left;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-family: Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
table.dataTable {
  margin-top: -15px !important;
}
.employeecontent {
  font-weight: bold;

  font-family: Segoe UI;

  color: #000000;
}
.numberpagenation {
  background: #f7fafc 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 5px;
  width: 138px;
  height: 30px;
  text-align: left;
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
  font-family: "Raleway";
  letter-spacing: 0px;
  color: #7f7f7f;
}
.searchinput {
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  border: none;
  height: 30px;
  width: 109%;
}
.searchinput::placeholder {
  text-align: left;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #7f7f7f;
  opacity: 1;
  padding: 5px;
}
.importbutton {
  width: 84px;
  height: 36px;
  background: #139bff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: center;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #ffffff;
}
.importdropwlist {
  top: 129px;
  left: 943px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #139bff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.importdropwlist::after {
  font-size: 16px;
}

.importdropwlist:hover {
  color: white;
}
.DeleteRecordbutton {
  width: 109px;
  height: 36px;
  background: #f04242 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}
.deleteSelectedSpan {
  width: 98px;
  height: 15px;
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-family: Raleway;
  font-weight: medium;
  font-style: normal;
  font-size: 13px;
  line-height: 30px;
}
.addemployeebutton {
  color: black;
  width: 133px;
  height: 36px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  opacity: 1;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  font-family: "Raleway";
  letter-spacing: 0px;
  color: #000000;

  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-item {
  height: 17px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.dropdonwli {
  height: 26px;
}
.dropdown-item :hover {
  background-color: none;
}
.tableheader {
  border-radius: 5px;
  height: 42px;
}

.data-table-container {
  width: 100%;
  padding: 20px;
}
.tableheader {
  height: 42px;

  background: #9ec3e8 0% 0% no-repeat padding-box;
  border-radius: 5px;
}
.table-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.table-header input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}
.employeeTable tbody td {
  height: 10px !important;
  text-align: left;
  font-family: "Segoe UI";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #464646;
  opacity: 1;
}

.rdt_TableRow {
  height: 49px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.dt-length {
  display: none;
}
.dt-search {
  display: none;
}

thead tr th {
  text-align: left;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  font-family: "Segoe UI";
  font-style: normal;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.userCheckbox {
  width: 15px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b7b7b7;
  border-radius: 3px;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-content {
  margin-top: 10px;
  width: 505px !important;
  height: 281px;
  margin: none;
  padding: 0px !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cecece !important;
  border-radius: 3px;
}
.headercontent {
  text-align: left;
  font: normal normal 600 13px / 19px Raleway;
  letter-spacing: 0px;
  margin-left: 8px;
  color: #ffffff;
}
.file-upload-section {
  margin: 20px 0;
}

.file-input {
  margin-left: 14px;
  top: 62px;
  left: 16px;
  width: 475px;
  height: 140px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px dashed #24b4c7;
  border-radius: 5px;
  opacity: 1;
}

.file-input label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input img {
  width: 50px;
}

.popup-actions {
  display: flex;
}

.submit-btn {
  width: 85px;
  height: 36px;
  margin-left: 14px;
  color: white;
  background: #139bff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  font-family: Raleway;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
}

.cancel-btn {
  width: 85px;
  height: 36px;
  background: #e5e5e5 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 29px;
  font-family: Raleway;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
  margin-left: 16px;
}

table.dataTable tbody tr {
  height: 43px;
}
.popuheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 504px;
  height: 39px;
  background: #139bff 0% 0% no-repeat padding-box !important;
  border-radius: 3px;
  opacity: 1;
}
.cancelicon1 {
  width: 32px;
  height: 32px;
  color: white;
  font-size: 18px;
}
.cancelicon {
  height: 15px;
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 11px;
  font-family: Raleway;
  letter-spacing: 0px;
  color: #919191;
  opacity: 1;
}

.uploadfileimage {
  width: 54px;
  height: 54px;
  margin-top: 14px;
}
.choosefile {
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 13px;
  font-family: Raleway;
  letter-spacing: 0px;
  color: white;
  width: 96px;
  height: 28px;
  background: #919191 0% 0% no-repeat padding-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-top: 7px;
}
.choosefilespan {
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 29px;
  font-family: Raleway;
  letter-spacing: 0px;
  color: #ffffff;
}

.employeeTable tr td:first-child {
  padding-block: 5px;
  border-left: 1px solid #cbc9cf;
  border-radius: 5px 0px 0px 5px;
}

.employeeTable tr td:last-child {
  padding-block: 5px;
  border-right: 1px solid #cbc9cf;
  border-radius: 0px 5px 5px 0px;
}

.employeeTable tr td {
  border-block: 1px solid #cbc9cf;
}

.employeeTable tr:nth-child(even) {
  background-color: #edf2f7 !important;
}
.employeeTable tr:nth-child(even) td {
  border: none !important;
}

.employeeTable {
  border-collapse: separate;
  border-spacing: 0px 10px !important;
}

.tableheader th {
  background-color: #9ec3e8;
}

.tableheader th:first-child {
  padding-block: 10px;
  border-radius: 5px 0px 0px 5px;
  padding-left: 10px;
}
.tableheader th:last-child {
  padding-block: 10px;
  padding-right: 10px;
  border-radius: 0px 5px 5px 0px;
}

.tablebody td:first-child {
  padding-left: 10px;
}

.tablebody td:last-child {
  padding-right: 10px;
}

table.dataTable thead th {
  border-bottom: none;
}
.importdropdown {
  height: 30px;
  background: #139bff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

.pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  padding-bottom: 20px;
  padding-right: 10px;
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button.active-page {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.Show-Deleted-employee-button {
  letter-spacing: 0px;
  color: #9e9e9e;
  opacity: 1;
  text-align: left;
  font-size: 12px;
  /* width: 133px; */
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  justify-content: center;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-size: 12px;
  line-height: 30px;
  font-family: "Raleway", sans-serif;
  width: 167px;
  height: 30px;
  background: 0% 0% no-repeat padding-box padding-box rgb(255, 255, 255);
  border: 1px solid rgb(229, 229, 229);
  border-radius: 5px;
  opacity: 1;
  font-size: 12px;
}
.deletedEmployeespan {
  text-align: left;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-size: 12px;
  line-height: 30px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0px;
  color: #9e9e9e;
  opacity: 1;
}
.deleteSelectedd {
  text-align: left;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0px;
  color: #000000;
}




