* {
  margin: 0;
  padding: 0;
}
.maindiv {
  background-color: #f6f8fa;
}

.search {
  padding: 14px;
  border: none;
  background-color: rgb(219, 220, 221);
  width: 330px;
  padding: 0px 30px;
}
.row {
  margin: 2px;
}

.settingandnotificationicons {
  display: flex;
  align-items: center;
  justify-content: end;
}

.NotificationIcon {
  font-size: 20px;
  /* color: #9f9f9f; */
  color: black;
  cursor: pointer;
  margin: 22px 10px;
}
.headericons {
  display: flex;
  justify-content: space-between;
}
.SettingsIcon {
  /* color: #9f9f9f; */
  color: black;
  margin: 22px 20px;
  cursor: pointer;
  font-size: 20px;
}

/* .settingandnotificationicons {
  display: flex;
  align-items: center;
  justify-content: end;
} */
.vertical-line {
  border-left-color: #9f9f9f;
  border-left: 2px solid;
  height: 43px;
  margin: 7px -5px;
}
.profileImage {
  width: 39px;
  border-radius: 6px;
}
.superadminp {
  color: #9f9f9f;
  margin: 8px 0px;
}
.namep {
  margin: -7px 0px;
  font-weight: 500;
}
.profileandrole {
  display: flex;
  justify-content: space-between;
}
.nameandrole {
  cursor: pointer;
}
.profile-popup {
  position: absolute;
  top: 69px;
  right: 5px;
  width: 270px;
  z-index: 1000;
}
.card {
  background: white;
  border: 1px solid #ccc;
  border: none;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.popup-item {
  margin: 10px 0;
  cursor: pointer;
}
.Carduser:hover {
  background-color: #f5f5f5;
}
.cardSettings:hover {
  background-color: #f5f5f5;
}
.cardInbox:hover {
  background-color: #f5f5f5;
}
/* .cardbody {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
} */
.cardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardbody img {
  border-radius: 5px;
}
.cardProfile {
  border-radius: 30px;
}
.Carduser {
  display: flex;
  align-items: center;
}
.cardInbox {
  display: flex;
  align-items: center;
}
.cardSettings {
  display: flex;
  align-items: center;
}
.Signouticon {
  transform: translateY(-50%);
  top: 50%;
  left: 59px;
}
.hrtag {
  color: #dfdfdf;
}
.Mainheading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}
.profileicons {
  display: flex;
  align-items: end;
  justify-content: end;
}
/* ====================== */
