* {
  margin: 0;
  padding: 0;
}
.maindiv {
  background: #ffffff 0% 0% no-repeat padding-box;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 55px;
  box-shadow: 0px 3px 6px #00000029;
}
.line {
  border-left: 2px solid #707070;
  font-size: 32px;
  color: #00000029;
}
.profilediv {
  width: 249px;
  height: 54px;
  /* margin-left: auto; */
}
.vericalline {
  border-left: 2px solid #dcdcdc;
  height: 55px;
}

.username {
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-size: 12px;
  font-family: Raleway;
  letter-spacing: 0px;
}
.userrole {
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0px;
}
.vimage {
  width: 15px;
  /* margin: 22px; */
  margin-top: 19px;
  margin-left: 55px;
}
/* @keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }

  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
} */
.openprofilediv {
  position: relative;
  animation-name: example;
  animation-duration: 0.1s;
  /* animation-name: slideUp; */
}
.closeprofilediv {
  position: relative;
  animation-name: example;
  animation-duration: 0.2s;
}
@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }

  75% {
    left: 0px;
  }
}

.closeprofilediv {
  animation: slideUp 0.2s forwards;
}

@keyframes slideUp {
  0% {
    left: 0px;
    top: 0px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}
