.changeimagebtn {
  transform: translate(-50%, -50%);
  background-color: rgba(57, 57, 57, 0.5);
  color: white;
  border: none;
  position: absolute;
  top: 88%;

  font-size: 15px;
  cursor: pointer;
  font-size: 14px;
}
/* ====== */
.profile-container {
  margin: auto;
  padding: 20px;
}

.profile-card {
  border-radius: 10px;
  background-color: #fff;
}

.profile-image {
  width: 120px;
  height: 120px;
}

.profile-details {
  padding: 20px 0;
}

.profile-details h5 {
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-details .row {
  margin-bottom: 10px;
}

.profile-details .col-sm-4 {
  font-weight: bold;
  color: #6c757d;
}

.profile-details .col-sm-8 {
  color: #495057;
}
.MuiBox-root {
  width: 50%;
}
