* {
  margin: 0;
  padding: 0;
}
.datepicker {
  margin: 15px 36px;
  display: flex;
  align-items: end;
  justify-content: end;
}
.sc-eeDSqt {
  justify-content: none;
}
.searching {
  font-size: 1em;
  font-weight: 600;
}
.revenueTest {
  font-size: 1.25rem;
  color: #196e8a;
  font-family: "Public Sans", sans-serif;
  font-family: sans-serif;
  font-weight: 700;
}
.kzZB {
  font-size: 1.25rem;
  font-weight: 800;
}
.sc-cwHqhk {
  font-size: 1.05rem;
}
.sc-fqkwJk {
  font-size: 1rem;
}
.dODGfY {
  background-color: #196e8a !important;
  color: white;
}
.bRGCiY {
  justify-content: none !important;
}

.bRGCiY {
  justify-content: none !important;
}
.kbPrZo {
  font-size: 1rem;
}

.sc-bXCLgj,
.bOmZm {
  font-size: 1rem !important;
}
.jYgXvU {
  font-size: 1rem;
}
