* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}
.containers {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

main {
  height: 100vh;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.renderdiv {
  width: 100%;
  height: 100vh;

  background: #fff;
  color: #202020;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdown-link {
  color: #8f8f8f;
  list-style-type: none;
}

.dropdown-link:hover,
.dropdown-link.active {
  color: rgba(146, 74, 239, 1);
}

.dropdown-link {
  display: block;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
}

.icon,
.link_text:hover {
  text-decoration: none;
  list-style-type: none;
}
.link_text {
  transition: all 0.5s;
  font-size: 1rem;
  color: black;
  font-weight: 600;
  font-family: "Public Sans" sans-serif;
}

.icon,
.link_text {
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-icon {
  transition: transform 0.3s;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.iconimages {
  margin-left: 15px;
  width: 17px;
  height: 17px;
}
.indexicon {
  height: 20px;
  width: 20px;
}
.submenu.open {
  max-height: 500px;
}
.icon {
  display: flex;
  height: 50px;
  color: "black";
}

.link_text {
  display: flex;
  font-size: 15px;
  margin: 0px 5px;
  color: black;
}
.center {
  text-align: center;
  border-left: 2px solid #707070;
  font-size: 13px;
}

.menuname {
  width: 143px;
  /* height: 14px; */
  text-align: left;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-size: 13px;
  font-family: "Raleway";
}
.menuname1 {
  width: 160px;

  text-align: left;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-size: 13px;
  font-family: "Raleway";
}

.submenunames {
  font-size: 14px;
  margin-left: 20px;
  color: #707070;
}
.sidebarcontent {
  top: 140px;
  left: 49px;
  width: 117px;

  text-align: left;

  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 49px;
  font-family: "Raleway", sans-serif;
}
.dropdown-icon {
  transition: transform 0.5s;
}

.dropdown-icon.open {
  transform: rotate(90deg);
}
.tree ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.tree li {
  margin: 0;
  padding: 0 0 0 40px;
  position: relative;
}

.tree li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 21px;

  width: 20px;
  border-top: 2px solid #707070;
}

.tree li span {
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  margin-left: 8px;
  color: #707070;
}

.tree ul ul::before {
  content: "";
  position: absolute;
  top: -9px;
  margin-left: 24px;
  bottom: 9px;

  border-left: 2px solid #707070;
}
/* ==== */
