.TimeSheetMainDiv {
  height: auto;

  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 16px #e5e5e5;
  border-radius: 5px;
  opacity: 1;
  margin-top: 5px;
}
.timeSheet_content {
  text-align: left;
  font: normal normal bold 14px/24px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.drop_down_list {
  width: 200px;
  font-size: 12px;

  border: 1px solid #dcdcdc;
  border-radius: 5px;

  opacity: 1;
}
.timesheet-datepicker {
  width: 170px;
  height: 32px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  opacity: 1;
  font-size: 14px;
}
.timesheet_input {
  width: 80px;
  height: 28px;
  font: normal normal 600 12px/20px Segoe UI;
  letter-spacing: 0px;
  border: 1px solid #9ec3e8;
  opacity: 1;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #9ec3e8;
  border-radius: 5px;
}
.timesheet_input ::placeholder {
  color: #d5d5d5;
  font-size: 12px;
}
.reset_button {
  /* left: 1031px; */
  width: 65px;
  height: 30px;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  font: normal normal medium 12px/29px Raleway;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.MakeARequestbutton {
  top: 632px;
  left: 1031px;
  width: 65px;
  height: 30px;
  background: #f14a44 0% 0% no-repeat padding-box !important;
  border-radius: 5px;
  opacity: 1;
}
.save_button {
  width: 65px;
  height: 30px;

  background: #5e5e5e 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  font: normal normal medium 12px/29px Raleway;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.MakeARequestbutton {
  /* UI Properties */
  background: #139bff;
  border-radius: 5px;
  opacity: 1;
}
.submit_button {
  width: 65px;
  height: 30px;
  background: #139bff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  font: normal normal medium 12px/29px Raleway;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.submitbutton {
  height: 30px;
  background: #139bff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  width: 130px;
  text-align: center;
}

.make_a_request_span {
  text-align: center;
  font: normal normal bold 12px/30px Raleway;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.css-1u9des2-indicatorSeparator {
  display: none;
}
.css-tj5bde-Svg {
  color: #aeaeae;
}
.billing_hours_content {
  font: normal normal bold 12px/17px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.timesheet-datepicker span {
  font: normal normal 600 12px/30px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.activeInactive {
  text-align: left;
  font: normal normal 600 12px/20px Segoe UI;
  letter-spacing: 0px;
  color: #00c206;
  opacity: 1;
}
