.Dashboard-paragrapha {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Segoe UI";
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}
.Project_progress1 {
  width: 300px;
  height: 125px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646430;
  border-radius: 10px;
  opacity: 1;
}
.project-uodate-content {
  text-align: left;
  font: normal normal bold 14px/24px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}
.recharts-surface {
  width: 150px;
  height: 100px;
}

.recharts-surface {
  width: 17% !important;
  height: 18% !important;
}

.recharts-tooltip-wrapper {
  pointer-events: none;
}
.circle {
  background-color: #64bb6a;
  border-radius: 50%;
  height: 5.1rem;
  width: 5.1rem;
}
.recharts-wrapper {
  width: none !important;
}

.UpcommingUsfinance {
  position: relative;
  color: #a5aeb4;
  text-align: center;
}

.UpcommingUsfinance::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2.5px;
  background-color: #a5aeb4;
  transform: translateX(-50%);
}
.Revenue-overview {
  height: 540px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646430;
  border-radius: 10px;
  opacity: 1;
  margin-top: 15px;
}
.Revenue-overview-span {
  text-align: left;
  font: normal normal bold 16px/24px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}
.Monthly-overview-content {
  text-align: left;
  font: normal normal bold 16px/24px Segoe UI;
  letter-spacing: 0px;
  font-weight: 600;
  opacity: 1;
  color: #989898;
}

.dropdown-menu {
  min-width: 130px !important;
}

.dropDownmenuItems {
  height: 100px !important;
}
.Revenue-overview-maindiv {
  margin-top: 50px;
}
.upcommingtimesheet {
  text-align: left;
  font: normal normal bold 14px/24px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}
.upcomingtimesheetdiv {
  height: 300px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646430;
  border-radius: 10px;
  opacity: 1;
}
.dropdownitems {
  text-align: left;
  font: normal normal normal 14px/30px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.chart-container {
  position: relative;
  text-align: center;
  width: 280px;
  margin: auto;
}

.chart-center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.chart-center-text h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.chart-center-text h4 {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.chart-legend {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 14px;
  color: #666;
  gap: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.legend-color {
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 50%;
}

.submitted {
  background-color: #2d9cdb;
}

.not-submitted {
  background-color: #f57241;
}
.total_projects_content {
  text-align: left;
  font: normal normal bold 14px/24px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
.bar-pie-chart {
  /* width: 949px !important; */
  height: 426px !important;
}
.recharts-surface {
  width: 75% !important;
  height: 100% !important;
}
.weekly_timeSheet_boxshodow {
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "Segoe UI", sans-serif;
  letter-spacing: 0px;
  color: #989898;

  text-transform: uppercase;
  opacity: 1;
}

.total-balance {
  text-align: left;
  font: normal normal 800 18px/29px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
