.Dashboard-paragrapha {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-family: "Segoe UI";
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}
.Project_progress1 {
  width: 266px;
  height: 125px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646430;
  border-radius: 10px;
  opacity: 1;
}
.project-uodate-content {
  text-align: left;
  font: normal normal bold 14px/24px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}
.recharts-surface {
  width: 150px;
  height: 100px;
}

.recharts-surface {
  width: 17% !important;
  height: 18% !important;
}

.recharts-tooltip-wrapper {
  pointer-events: none;
}
.circle {
  background-color: #64bb6a;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}
.recharts-wrapper {
  width: none !important;
}
.upcommingtimesheet {
  text-align: left;
  font: normal normal bold 14px/24px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}
.upcomingtimesheetdiv {
  height: 338px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646430;
  border-radius: 10px;
  opacity: 1;
}
