* {
  margin: 0;
  padding: 0;
}
.headerCards {
  display: flex;
}
.ProjectProgress {
  display: flex;
  justify-content: space-between;
}
.circularProgressbar {
  height: 70px;
  width: 70px;
}
.progressbaranddates {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Pimage {
  height: 50px;
  width: 50px;
  border-radius: 8px;
}
.ProjectMangerProfile {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.description {
  color: rgb(25, 110, 138);
  font-family: "Open Sans", sans-serif;
}
.workingemployeeclsas {
  color: rgb(111, 211, 244);
  font-family: "Open Sans", sans-;
  margin-bottom: 0px;
}
.firstmodel .modal-content {
  width: 900px;
  right: 28%;
  background-color: rgb(217, 223, 225);
}
.btn-close {
  color: white;
}
.closebtn {
  border-radius: 8px;
}
.header {
  background-color: rgb(37, 122, 150);
  color: white;
}
.closebutton {
  border-radius: 10px;
}
.updatebtn {
  border-radius: 10px;
}

textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.workingemployee {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.firstmodel1 .modal-content {
  width: 600px;
}
.addemployeecircle {
  font-size: 30px;
  cursor: pointer;
}
.cancleemployee {
  font-size: 30px;
  cursor: pointer;
}
.modelbodyyyy {
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
}

.tableclassss {
  width: 100%;
  table-layout: fixed;
}

.project-employee {
  background-color: yellow; /* Change this to your desired color */
}
.getallEmployee tr td {
  padding: 5px 11px;
}

.getallEmployee tr .selected {
  background-color: blueviolet;
}

.getallEmployee tr .selected-row {
  background-color: aqua;
}
.deleteicon {
  cursor: pointer;
}
.deleteicontd {
  display: flex;
  font-size: 18px;
  justify-content: center;
}
