.view-Project {
  text-align: left;
  font: normal normal bold 14px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.view-project-div {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 16px #e5e5e5;
  border-radius: 5px;
  opacity: 1;
  margin-top: 10px !important;
}
.update-button {
  height: 30px;
  background: #139bff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 10px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  width: 70px;
}
.button-col {
  display: flex;
  align-items: center;
  justify-content: end;
}
.update-button-row {
  border-bottom: 1.3px solid #d5d5d5;
  color: #a5aeb4;
  opacity: 1;
  height: 50px;
  padding: 0;
  margin: 0;
}
.project-view-row {
  text-align: left;
  font: normal normal 600 12px Segoe UI;
  letter-spacing: 0px;
  color: #a5aeb4;
  opacity: 1;
  padding-top: 25px;
  height: 52px;
}
.view-more {
  font: normal normal 600 12px Segoe UI;
  color: #0aaebd;
  margin: 0;
  padding: 0;
}
.projectPrpgress {
  /* margin: 0px; */
  text-align: left;
  font: normal normal 600 14px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  font-size: 12px;
  opacity: 1;
}
.underline-button-row {
  border-bottom: 1.3px solid #d5d5d5;
  color: #a5aeb4;
  opacity: 1;
  padding: 0;
  margin: 0;
  padding-top: 15px;
}
/* ================ */
/* Overlay */
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Dialog Box */
.dialog-box {
  background-color: #fff;
  width: 600px;
  height: 465px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  /* padding: 20px; */
  /* animation: fadeIn 0.3s ease-in-out; */
}

/* Dialog Header */
.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 39px;
  background: #139bff 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 13px;
}

.dialog-title {
  text-align: left;
  font: normal normal bold 13px / 19px Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.dialog-close {
  font-size: 16px;
  color: white;
  cursor: pointer;
}

/* File Upload Section */
.file-upload-wrapper {
  margin-bottom: 20px;
  text-align: center;
}

.file-input-box label {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.file-upload-image {
  width: 50px;
  margin-bottom: 10px;
}

.file-choose-message {
  font-size: 14px;
  color: #666;
}

.file-choose-highlight {
  font-weight: bold;
  color: #333;
}

.file-selected-text {
  font-size: 12px;
  color: #888;
  margin-top: 10px;
  display: block;
}

/* Actions */
.dialog-actions {
  display: flex;
  justify-content: space-between;
}

.dialog-submit-btn,
.dialog-cancel-btn {
  height: 30px;
  /* UI Properties */
  background: #139bff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  width: 60px;
}

.dialog-submit-btn {
  background-color: #007bff;
  color: #fff;
}

.dialog-submit-btn:hover {
  background-color: #0056b3;
}

.dialog-cancel-btn {
  background-color: #f5f5f5;
  color: #333;
}

.dialog-cancel-btn:hover {
  background-color: #e0e0e0;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.fixed_header tbody {
  display: block;
  overflow: auto;
  height: 200px;
  width: 100%;
}
.fixed_header thead tr {
  display: block;
}

.employeetablediv {
  max-height: 300px;
  overflow-y: auto;
  position: relative;
}

.employee-Details-table-body {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
}

.employeeTable1 tr td:first-child {
  padding-block: 5px;
  border-left: 1px solid #cbc9cf;
  border-radius: 5px 0px 0px 5px;
}

.employeeTable1 tr td:last-child {
  padding-block: 5px;
  border-right: 1px solid #cbc9cf;
  border-radius: 0px 5px 5px 0px;
}

.employeeTable1 tr td {
  border-block: 1px solid #cbc9cf;
}

.employeeTable1 tr:nth-child(even) {
  background-color: #edf2f7 !important;
}
.employeeTable1 tr:nth-child(even) td {
  border: none !important;
}

.employeeTable1 {
  border-collapse: separate;
  border-spacing: 0px 10px !important;
}
.employeeTable1 tbody td {
  height: 10px !important;
  text-align: left; /* Aligns the text to the left */
  font-family: "Segoe UI"; /* Specifies the font family */
  font-weight: normal; /* Specifies the font weight */
  font-style: normal; /* Specifies the font style */
  font-variant: normal; /* Specifies the font variant */
  font-size: 13px; /* Specifies the font size */
  line-height: 24px; /* Specifies the line height */
  letter-spacing: 0px; /* Specifies letter spacing */
  color: #464646; /* Sets the text color */
  opacity: 1;
}

.Progress_percentage {
  text-align: left;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-size: 12px;
  font-family: "Segoe UI";
  color: #000000;
  opacity: 1;
}
